<div class="simple-list">
  <h5>Access</h5>
  <ul>
    <li>
      <a [routerLink]="['/access/registration']">Register</a>
    </li>
    <li>
      <a [routerLink]="['/access/login']">Login</a>
    </li>
  </ul>
</div>