<div class="header">
  <div class="title">
    Welcome to the <b>Hoffler Klinik</b>!
  </div>
  <div>
    <a [routerLink]="['/access/registration']">Register</a>
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/access/login']">Login</a>
  </div>
  <router-outlet></router-outlet>
</div>