<div class="simple-list registration-wrapper">
  <form (ngSubmit)="onSubmit()"
        [ngFormModel]="form">
    <ul>
      <li>
        <div class="form-group">
          <label for="first_name">First name</label>
          <input id="first_name"
                 required
                 type=”text”
                 ngControl="first_name"
                 [(ngModel)]="newUser.first_name"/>
          <div *ngIf="first_name.dirty && !first_name.valid">
             <p *ngIf="first_name.hasError('required')">
                This field is required
             </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input id="last_name"
                 required
                 type=”text”
                 ngControl="last_name"
                 [(ngModel)]="newUser.last_name"/>
          <div *ngIf="last_name.dirty && !last_name.valid">
             <p *ngIf="last_name.hasError('required')">
                This field is required
             </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email"
                 required
                 type=”text”
                 ngControl="email"
                 [(ngModel)]="newUser.email"/>
          <div *ngIf="email.pending">
            <p>Checking duplication...</p>
          </div>
          <div *ngIf="email.dirty && !email.valid">
            <p *ngIf="email.hasError('required')">
              This field is required
            </p>
            <p *ngIf="email.hasError('pattern')">
              Not a valid email
            </p>
            <p *ngIf="email.hasError('taken')">
              Email is taken
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password"
                 required
                 type=”text”
                 ngControl="password"
                 [(ngModel)]="newUser.password"/>
          <div *ngIf="password.dirty && !password.valid">
            <p *ngIf="password.hasError('minlength')">
              Your password needs to be at least 6 characters.
            </p>
            <p *ngIf="password.hasError('required')">
              This field is required
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input id="confirmPassword"
                 required
                 type=”text”
                 ngControl="confirmPassword"/>
          <div *ngIf="confirmPassword.dirty && !confirmPassword.valid">
            <p *ngIf="confirmPassword.hasError('isSame')">
              Confirmed password needs to be the same
            </p>
            <p *ngIf="confirmPassword.hasError('required')">
              This field is required
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input id="phone"
                 required
                 type=”text”
                 ngControl="phone"
                 [(ngModel)]="newUser.phone"/>
          <div *ngIf="phone.dirty && !phone.valid">
             <p *ngIf="phone.hasError('required')">
                This field is required
             </p>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="city">City</label>
          <input id="city"
                 required
                 type=”text”
                 ngControl="city"
                 [(ngModel)]="newUser.city"/>
          <div *ngIf="city.dirty && !city.valid">
             <p *ngIf="city.hasError('required')">
                This field is required
             </p>
          </div>
        </div>
      </li>
      <li>
        <input type="submit"
               value="Submit"
               [disabled]="!form.valid">
      </li>
    </ul>
  </form>
</div>