<div class="simple-list">
  <form (ngSubmit)="onSubmit()"
        #loginForm="ngForm">
    <ul>
      <li>
        <label for="username">Username</label>
        <input type="text"
               name="username"
               id="username"
               required
               required
               ngControl='username'
               #username="ngForm"
               [(ngModel)]="user.username">
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </li>
      <li>
        <label for="password">Password</label>
        <input type="text"
               name="password"
               id="password"
               ngControl='password'
               #password="ngForm"
               [(ngModel)]="user.password">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </li>
      <li>
        <input type="submit"
               value="Submit"
               [disabled]="!loginForm.form.valid">
      </li>
    </ul>
  </form>
</div>